body {
    background: #6ECEB2;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: #00263A;
}

h3 {
    padding: 5px;
    margin: 0;
}

p, a {
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 5px;
}

#header {
    background: #6ECEB2;
    height: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centering y-axis */
    align-items :center; /* Centering x-axis */;
}

.headerLogo {
    width: 20rem;
}

@media only screen and (max-width: 1000px) {
    #header {
      height: 25rem;
    }

    .headerLogo {
        width: 10rem;
    }

    .findIcon {
        width: 5%;
    }
}

#main {
    height: auto;
    background: #D0D0CE;
    text-align:center;
    padding: 2rem 0;
    overflow: auto;
}

#food {
    width: 70%;
    justify-content: center;  /* Centering y-axis */
    align-items: center; /* Centering x-axis */;
    margin: auto;
}

#drinks {
    width: 50%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centering y-axis */
    align-items :center; /* Centering x-axis */;
}

.drinkMenu {
    padding-top: 2rem;
    width: 90%;
}

.foodMenu {
    padding-top: 4rem;
    width: 90%;
}

#footer {
    margin-top: -1rem;
    color: white;
    height: 35rem;
    width: 100%;
    background: #FF6D6A;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;  /* Centering y-axis */
    align-items :center; /* Centering x-axis */;
}

.findIcon {
    width: 30%;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1400px) {
    #food {
        width: 100%;
    }

    #footer {
        height: 30rem;
    }

    .findIcon {
        width: 20%;
    }
}

.socials {
    display: inline-block;
    font-weight: bold;
}

