<footer id="footer">
	<div class="footerWrapper">
		<a target="_blank" href="https://goo.gl/maps/BabG4FK4mDNLnZrh8">
			<img class="findIcon" src="/images/find_icon.png">
		</a>
		<h3>Find us:</h3>
		<p>Malmskillnadsgatan 21</p>
		<p>111 57 Stockholm</p>
		<br>
		<h3>Contact us:</h3>
		<p>
			<a href="mailto:info@proseccobaren.se">
				info@proseccobaren.se
			</a>
		</p>
		<div class="socials">
			<p style="float: left; margin: 20px;">
				<a href="mailto:info@proseccobaren.se">
					Facebook
				</a>
			</p>
			<p style="float: right; margin: 20px;">
				<a target="_blank" href="https://www.instagram.com/proseccobaren.sthlm/?hl=en">
					Instagram
				</a>
			</p>
		</div>
	</div>
</footer>
